#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  font-size: 2.5rem;
  margin: 2rem auto;
}

.container {
  width: 90vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.task-list,
.new-task {
  width: 90vw;
  max-width: 500px;
  border: 1px solid blueviolet;
  margin: 0 auto;
  height: 500px;
  padding: 1.5rem 2rem;
}

.new-task {
  position: fixed;
  bottom: 42px;
  background-color: orange;
  z-index: 1;
}

.new-task h2 {
  margin: 0 auto 1rem;
}

label[for="name"],
label[for="note"] {
  display: block;
}

#name,
#note {
  display: block;
  width: 100%;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

#name {
  height: 2.5rem;
}

#note {
  height: 15rem;
}

button {
  width: 120px;
  height: 40px;
  margin: 0 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
